.actions
	.container
		.main
			.btn-group.replies{style: "float:left;"}
				%a.btn.quick-reply.btn-success{'data-type_id' => 1} Correct
				%a.btn.quick-reply.btn-danger{'data-type_id' => 3} Incorrect
				%a.btn.quick-reply.btn-info{'data-type_id' => 3} Tell answer
			.btn-group.defers{style: "float:right;"}
				%a.btn.quick-reply{'data-type_id' => 5} Ignore this
				%a.btn.quick-reply{'data-type_id' => 6} Not sure...