.actions.question_moderation_actions
	.container
		.main
			.btn-group.replies{style: "float:left;", 'data-toggle' => "buttons-checkbox"}
				%a.btn.btn-success.question_feedback{'data-type_id' => 7} Publish it!
				%a.btn.btn-danger.question_feedback{'data-type_id' => 11} Needs edits