%form.well.row.form-horizontal.span5
  .header
    %p.lead Post a New Question
  - unless current_user
    .auth_container.row.span4.page-header
      %h3 Authenticate with Twitter.
      = image_tag "twitter-sign-in.png"
  .question_container.row.span4.page-header
    %h3 Write your question.
    %textarea.question.input-xlarge.span4{:rows => "3"}
  .answers_container.row.span4.page-header
    %h3 Write answers.
    %input.answer.input-xlarge.span4{:type => "text", :placeholder => "Correct answer"}
    %input.answer.input-xlarge.span4{:type => "text", :placeholder => "Incorrect answer"}
    %a Add answer
  .submit_container.row.span4
    %button.btn.btn-primary{:type => "submit"} Submit