.sessions-new
  = render partial: "feeds/account_info"

  .login-container
    .login
      %ul
        %li.appear
          .content
            %h3 Sign into Wisr:

            %a.login-btn{href: user_omniauth_authorize_path(:twitter, use_authorize: false), class: (current_user ? "nav-link" : "auth_link nav-link")}
              %i.fa.fa-twitter
              | Connect with Twitter