.sessions-new
  = render partial: "feeds/account_info"

  .login-container
    .login
      %ul
        %li.appear
          .content
            %h3 Sign in

            %a.twitter-sign-in{href: user_omniauth_authorize_path(:twitter, use_authorize: false), class: (current_user ? "nav-link" : "auth_link nav-link")}= image_tag 'twitter/sign_in_button.png'
