- silhouette_style
.silhouette{style: silhouette_style}
.topfold

  %span.asker-photo= quest_image_tag
  
  .title
    %h1= @asker.subject
    %h2
      = precede '@' do
        %a{href: "http://twitter.com/#{@asker.twi_screen_name}"}= @asker.twi_screen_name