.silhouette
.topfold

  %span.asker-photo= image_tag "quests/scholar.png" #@asker.twi_profile_img_med_url
  
  .title
    %h1= @asker.subject
    %h2
      = precede '@' do
        %a{href: "http://twitter.com/#{@asker.twi_screen_name}"}= @asker.twi_screen_name