- tags = post.tags.collect(&:name)
%a
	%i.icon-eye-close
	= best_in_place post, :requires_action, :type => :checkbox, :collection => ["show", "hide"]
|
- if post.in_reply_to_post_id and post.in_reply_to_user_id == @asker.id	
	%a.link_post 
		%i.icon-wrench
		unlink
- else 
	%a.link_post 
		%i.icon-wrench
		link
|
%a.retweet{:style => "margin-left: 0px;"}
	%i.icon-retweet
	retweet
|
.dropdown{:style => "display: inline;"}
	%a.dropdown-toggle.feedback{"data-toggle" => "dropdown", :href => "#"} 
		%i.icon-tag
		tag
	%ul.dropdown-menu{:role => "menu", "aria-labelledby" => "dLabel"}
		%li
			- @tags.each do |tag|
				%a.tag_post{:tag_name => tag.name, :style => ("font-weight: bold;" if tags.include?(tag.name))}= tag.name
|
%a.show_move move
%a.move{:style => "display: none;"}
	= best_in_place post, :in_reply_to_user_id, :type => :select, :collection => User.askers.collect {|a| [a.id, a.twi_screen_name]}, :display_as => :requires_action