.feed_section{'data-subject-url' => @asker.subject_url,
  'data-asker-id' => @asker.id,
  'data-bind' => "foreach: feedPublications"}

  .conversation.border-color
    .post
      .content
        %img{'data-bind' => 'attr: {src: twiProfileImgUrl}'}
        %p.question_text{'data-bind' => 'text: question'}

      .answers.rounded.border{'data-bind' => "foreach: answers"}
        %h3.bottom_border{'data-bind' => 'click: respondToQuestion, css: {correct: correct(), incorrect: incorrect(), grading: grading()}'}
          %span{'data-bind' => 'text: text'}
          %img{src: '/assets/ajax-loader.gif'}

    .activity_container{'data-bind' => 'visible: interactions.length > 0'}
      .interactions{'data-bind' => "foreach: interactions"}
        %img{'data-bind' => 'attr: {src: twiProfileImgUrl}'}
