.timeline-container{'data-subject-url' => @asker.subject_url,
  'data-asker-id' => @asker.id,
  'data-current_user-id' => current_user.try(:id),
  'data-publication-id' => params[:publication_id]}

  %ul.timeline{'data-bind' => "foreach: feedPublications"}
    %li{'data-bind' => 'css: {visible: $root.feedPublications().length > 0}, attr: {"data-publication-id": id}'}

      %input.radio{type: 'radio'}
      .relative
        %span.timeago{"data-bind" => "timeago: firstPostedAt"}
        %span.circle
          
      .content
        %h3{'data-bind' => 'text: question'}

        .answers{'data-bind' => "foreach: answers"}
          .answer{'data-bind' => 'click: respondToQuestion, css: {correct: correct(), incorrect: incorrect(), grading: grading()}'}
            %span{'data-bind' => 'text: text'}
            %img{src: '/assets/ajax-loader.gif'}