#my_badges.authenticated.rounded.border-color
  .header
    %h4
      My Badges

      %span{'data-bind' => "visible: badges().length < 1"}
        =image_tag "ajax-loader-retina.gif", class: 'retina-ajax-loader'

  %ul.hidden.unstyled{'data-bind' => "foreach: badges(), visible: (badges().length > 0)"}
    %a.badge-link{"data-bind" => "attr: {href: href}"}
      %li
        .content
          %img.rounded.profile{"data-bind" => "attr: {src: img_href}"}
          %h5{"data-bind" => "text: title"}
          %p{"data-bind" => "dotdotdot: description"}
  .cl{style: 'clear:both;'}