#my_badges.rounded.border-color
  .header
    %h4
      My Badges

      %span{'data-bind' => "visible: badges().length < 1"}
        =image_tag "ajax-loader.gif"

  %ul.unstyled{'data-bind' => "foreach: badges(), visible: (badges().length > 0)"}
    %a.related_feed{"data-bind" => "attr: {href: href}"}
      %li
        .content
          %image.rounded.profile{"data-bind" => "attr: {src: img_href}"}
          %h5{"data-bind" => "text: title"}
          %p{"data-bind" => "dotdotdot: description"}
  .cl{style: 'clear:both;'}