.header
	%h4
		Activity	

		%span{'data-bind' => "visible: streamPosts().length < 1"}
			=image_tag "ajax-loader-retina.gif", class: 'retina-ajax-loader'

%ul.unstyled	
	#activity_stream_content
		#stream_list{'data-bind' => "foreach: streamPosts, visible: (streamPosts().length > 0)"}
			%a.stream_item{"data-bind" => "attr: {href: href}"}
				%li{"data-bind" => "fadeIn: questionText"}
					.content
						%image.rounded.profile{"data-bind" => "attr: {src: user_twi_profile_img_url}"}
						%p.time_ago.visible-desktop.timeago{"data-bind" => "timeago: created_at"}
						
						.text_content
							%h5
								%span{:style => "color: #333;", "data-bind" => "text: user_twi_screen_name"}
								%span{:style => "color: #666;"} answered
							%p{"data-bind" => "dotdotdot: questionText"}
