%meta{:content => "player", :name => "twitter:card"}
%meta{:content => @asker.twi_screen_name, :name => "twitter:site"}
%meta{:content => "http://wisr.com/", :name => "twitter:url"}
%meta{:content => "Potential Answers", :name => "twitter:title"}
%meta{:content => "Tweet me your response!", :name => "twitter:description"}
%meta{:content => "https://s3.amazonaws.com/Wisr/answers.jpg", :name => "twitter:image"}
%meta{:content => "https://wisr.herokuapp.com/questions/answers/#{@requested_publication.question_id}", :name => "twitter:player"}
%meta{:content => "435", :name => "twitter:player:width"}
%meta{:content => "200", :name => "twitter:player:height"}
/ %meta{:content => "175", :name => "twitter:player:height"}