#post_feed
	#feed_container
		#wrapper
			#feed.row
				= render :partial => "account_info"

				#left_column.span3.hidden-phone
					#left_column_container
						- cache("_directory", :expires_in => 30.hour) do
							= render :partial => "directory"

				#right_column.span6
					#posts.rounded
						= render :partial => "feed"

- content_for :mixpanel_badge do
	%a.mixpanel_badge.visible-desktop{:href => "https://mixpanel.com/f/partner"}
		%img{:alt => "Mobile Analytics", :src => "//cdn.mxpnl.com/site_media/images/partner/badge_light.png"}