- if @asker
  - content_for :title, "Daily Quiz Questions"

.starscape
  .galaxy{"data-stellar-ratio" => ".32"}
  .stars{"data-stellar-ratio" => ".36"}
  .smallplanets{"data-stellar-ratio" => ".44"}
  %h1.headline{"data-stellar-ratio" => ".6"}
    %span.logo Wisr - Daily Quiz Questions

  .planet{"data-stellar-ratio" => "1"}
  .quest{"data-stellar-ratio" => "1.02"}

.columns.home
  = render partial: "feed"

  .right-column
    = render partial: "directory"


    %a.mixpanel_badge.visible-desktop{:href => "https://mixpanel.com/f/partner"}
      %img{:alt => "Mobile Analytics", :src => "//cdn.mxpnl.com/site_media/images/partner/badge_light.png"}