.row
  %ul.nav.nav-tabs.nav-stacked.span3
    %li 
      %a{:href => "#askers-handle_activity"} 
        Social interactions / handle this week
        %span.loading.hide= image_tag "ajax-loader.gif"
    %li 
      %a
        /{:href => "#users-socactions"} 
        Users / handle this week (soon)
        %span.loading.hide= image_tag "ajax-loader.gif"

  .graphs
    .handle_activity.panel
      #data_row.row
        #handle_activity_graph.graph
      = hidden_field_tag :handle_activity_data, @handle_activity.to_json