.row
  %ul.nav.nav-tabs.nav-stacked.span3
    %li 
      %a{:href => "#authors-ugc"} 
        Questions / day
        %span.loading.hide= image_tag "ajax-loader.gif"
    %li 
      %a
        /{:href => "#users-socactions"} 
        Questions / day / handle (soon)
        %span.loading.hide= image_tag "ajax-loader.gif"

  .graphs
    .ugc
      #data_row.row
        #ugc.panel.rounded.span10
          #ugc_graph.graph
      = hidden_field_tag :ugc_data, @ugc_data.to_json if @ugc_data