= render :partial => "layouts/google_charts"
= javascript_include_tag "https://www.google.com/jsapi"
.core

	%h2.handle_name 

	.data_row.row
		.paulgraham.panel.left.rounded.span6
			.paulgraham_stats.stats
				.header
					%h3 Growth
				.new
					.container
						%p.number
						%p.period last 24 hours
				.total
					.container
						%p.number
						%p.period 7 day avg
			.paulgraham_graph.graph

		.dau_mau.panel.right.rounded.span6
			.dau_mau_stats.stats
				.header
					%h3 DAU/MAU 
				.new
					.container
						%p.number
						%p.period last 24 hours
				.total
					.container
						%p.number
						%p.period 7 day avg
			.dau_mau_graph.graph

	.data_row.row
		.timely_response.panel.rounded.span6
			.timely_response_stats.stats
				.header
					%h3 Timely Reply
				.new
					.container
						%p.number
						%p.period last 24 hours
				.total
					.container
						%p.number
						%p.period last 30 days			
			.timely_response_graph.graph

		.timely_publish.panel.right.rounded.span6
			.timely_publish_stats.stats
				.header
					%h3 Timely Pub.
				.new
					.container
						%p.number
						%p.period last 24 hours
				.total
					.container
						%p.number
						%p.period 7 day avg
			.timely_publish_graph.graph