.drawer
  %ul
    %li
      %a{:href => "/"} Home

    - if current_user.try(:is_role?, 'admin')
      %li
        %a{:href => "/askers", :tabindex => "-1"} Status
      %li
        %a{:href => "/askers/edit_graph", :tabindex => "-1"} Asker Graph     
      %li
        %a{:href => "/moderations/manage?edits=true", :tabindex => "-1"} Questions
      %li
        %a{:href => "/dashboard", :tabindex => "-1"} Dashboard

    - elsif current_user.try(:is_role?, 'client')
      %li
        %a.nav-link{:href => "/clients/#{current_user.id}/report"} Reporting
    - elsif current_user.try(:is_role?, 'author')
      %li
        %a.nav-link{:href => "/questions"} My Questions

    - elsif current_user.try(:is_role?, "moderator")
      %li
        %a.nav-link{:href => "/moderations/manage"} Moderate

    - if current_user
      %li
        %a Recent Topics
      %li
        = render partial: 'drawer/askers_recent'

    %li
      %a All Topics
    %li
      = render partial: 'drawer/askers_index'