:css
  body {background:white;}
  .navbar-inner {box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);}
  .asker-row img {height:18px;}
  @media (min-width: 1200px) {.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {width: 874px;}}

= csrf_meta_tag

.experiments

  / .page-header
  %h1= t '.title', :default => 'Experiments'

  .tabbable
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#running"} Running
      %li
        %a#concluded_tab{"data-toggle" => "tab", :href => "#concluded"} Concluded
      %li{style: 'float: right;'}
        %a#concluded_search_terms_tab{"data-toggle" => "tab", :href => "#concluded_search_terms"} Concluded Search
      %li{style: 'float: right;'}
        %a#search_terms_tab{"data-toggle" => "tab", :href => "#search_terms"} Search        
    .tab-content
      #running.tab-pane.active
        = render "experiments"
      #concluded.tab-pane
      #search_terms.tab-pane
      #concluded_search_terms.tab-pane