.main-view {
	font-size: 16px;
	background-attachment:fixed;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;

  &.blur {
      -webkit-filter: blur(3px);
      -moz-filter: blur(3px);
      -o-filter: blur(3px);
      -ms-filter: blur(3px);
      filter: blur(3px);
      opacity: .5;
  }
}

$bg: #57af72;
$white: #eee9dc;
$dimwhite: #ccc;
$black: #333333;

$dimwhite: #D5D1C5;
$red: #f98262;
$inner_gutter: 50px;

$max_left_gutter: 5%;
$max979_left_gutter: 4%;
$max767_left_gutter: -1%;

$border_thick: 8px;
$border_medium: 4px;
$border_thin: 0px;

.silhouette {
  width:100%;
  height:100px;
  white-space:nowrap;
  overflow: hidden;
  position:relative;
  top: -1px;

  svg {
    height: 100px;
  }
}

.topfold {
  color:$white;
  font-weight: 100;
  position: absolute;
  z-index: 25;
  width:100%;
  top: 40px;

  display:flex;
  justify-content: start-flex;

  .asker-photo {
    z-index: 15;
    margin-left: $max_left_gutter + 6%;
    position: relative;
    float:left;

    @media (max-width: 767px) {
      margin-left: $max767_left_gutter;
    }

    img {
      margin-top: -12px;
      height:200px;

      @media (max-width: 767px) {
        height:170px;
        margin-top: 10px;
        margin-left: 15px;
      }

      @media (max-width: 455px) {
        margin-top: 30px;
        height: 145px;
      }

      @media (max-width: 300px) {
        margin-top: 75px;
        height: 120px;
      }
    }
  }

  .title {
    margin-left: 5px;
    margin-top: 110px;
    width:61%;
    position: relative;
    float: left;

    @media (max-width: 992px) {
      width:55%;
      margin-top: 100px;
    }

    @media (max-width: 767px) {
      width:70%;
      margin-top: 100px;
    }

    @media (max-width: 650px) {
      width:60%;
    }

    @media (max-width: 455px) {
      margin-top: 90px;
      width:50%;
    }

    h1, h2 {
      font-weight: normal;
      color: $white;
      display: inline;
      float:left;

      @media (max-width: 767px) {
        font-size:162%;
      }
    }

    h1 {
      font-size:42px;

      a {
        color:#ddd;

        &:hover {
          text-decoration: none;
        }
      }

      @media (max-width: 767px) {
        display: none;
      }
    }

    h2 {
      font-weight: 300;
      font-size: 20px;
      line-height: 1.15em;
      height:1.15em;

      display: block;
      width:100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      clear:both;
      margin-top: 15px;

      @media (max-width: 991px) {
        white-space: inherit;
        overflow: visible;
        font-size: 18px;
      }

      a {
        color: $white;
      }
    }
  }
}

.columns {
  display:flex;
  justify-content: space-between;

  .timeline-container {
    position: relative;
    width:62%;
    margin-left: $max_left_gutter;

    @media (max-width: 979px) {
      width:66%;
      margin-left: $max979_left_gutter;
    }

    @media (max-width: 767px) {
      width:99%;
      margin-left: $max767_left_gutter;
    }

    font-size: 100%;
    color: $white;

    h1 {
      margin-left: 24.3%;
      margin-top: 50px;
      position:absolute;
    }

    ul.timeline {
      position: relative;
      margin-bottom: 0px;

      padding-top: 220px;
      top: -141px;

      list-style: none;
      border-left: $border_thick solid $white;


      @media (max-width: 767px) {
        border-left: $border_thin solid $white;
      }

      li {
        margin: 25px 0;
        position: relative;
        left: -4px;
        display: none;

        &.visible {
          display:inherit;
        }

        .radio {
          display: none;

          @media (min-width: 768px) {
            &.relative {
              .circle {
                background: $red;
              }
            }

            & ~ .content {
              &:before, &:after {
                content: "";
                width: 0;
                height: 0;
                border: solid transparent;
                position: absolute;
                pointer-events: none;
                right: 100%;
              }

              &:before {
                border-right-color: inherit;
                border-width: 20px;
                top: 50%;
                margin-top: -20px;
              }

              &:after {
                border-right-color: $white;
                border-width: 17px;
                top: 50%;
                margin-top: -17px;
              }
            }
          }
        }

        .relative {
          .timeago {
            width: 13%;
            margin-top: -10px;
            top: 50%;
            left: -18%;
            display: block;
            position: absolute;
            text-align: right;
            font-size: 16px;

            @media (max-width: 979px) {
              width: 8%;
              margin-top: -10px;
              top: 50%;
              left: -13%;
              display: block;
              position: absolute;
              text-align: right;
              font-size: 14px;
            }

            @media (max-width: 767px) {
              display: none;
            }
          }

          .circle {
            margin-top: -10px;
            top: 50%;
            left: -10px;
            width: 10px;
            height: 10px;
            background: $bg;
            border: 5px solid $white;
            border-radius: 50%;
            display: block;
            position: absolute;
            color:rgba(0,0,0,0);

            @media (max-width: 767px){
              display: none;
            }
          }
        }

        .content {
          &.active{ border: 8px #fbc370 solid; }

          .timeago {
            float:right;
            opacity:.7;
            font-size: 80%;
            display: none;
            padding-left: 10px;

            @media (max-width: 767px) {
              display: inline;
            }
          }

          .answer {
            background: $dimwhite;
            padding: $border_thick;
            margin: 10px;
            border-radius: 0.5em;
            font-weight: 200;
            font-size: 16px;

            img {
            	float:right;
  						padding: 1px 4px 0 0;
            	display:none;
            }

  					&.grading {
  						img {
  							opacity: .8;
  							display: inherit;
  						}	
  					}

  					&.correct {background-color:#86ca9b !important;}
  					&.incorrect {background-color:#f8c4c4 !important;}
  					
            &:hover {
              cursor: pointer;
              background: rgba(0, 0, 0, 0.2);
            }
          }
        }

        h4 {
          margin: 20px 2px 10px;
        }
      }
      .load-more {
        position: relative;
        text-align: center;

        margin-top: 50px;
        padding-bottom: 18px;
        visibility: hidden;

        &.visible {
          visibility:inherit;
        }

        img {
          height: 32px;
          width: 32px;
        }
      }
    }
  }

  &.quiz {
    .timeline-container {
      ul.timeline li .relative .circle {
        height:30px;
        width:30px;
        left: -20px;
        margin-top: -20px;
        text-align: center;
        color:white;
        line-height: 1.9em;
        background: #444
      }
    }
  }

  .right-column {
    width: 29%;
    margin: 0 4% 0 0;
    padding-top: 104px;

    @media (max-width: 767px) {
      display: none;
    }
  }
}

.activity-stream, .my-badges, .directory, .lessons {
  background: $dimwhite;
  border-radius: 0.5em;
  margin-bottom:20px;

  h4 {
    font-size: 18px;
    padding: 20px 20px 0 70px;
    font-weight: 200;
  }


  ul {
    list-style: none;
    margin: 0;
    padding-bottom:20px;

    li {
      margin: 0;
      left: -4px;
      opacity: 0;
      height:0;

      transition: height 1s, opacity 1500ms, padding 500ms;

      &.appear {
        opacity: 1;
        height: inherit;
      }

      .content {
        border-color: transparent;
        padding-bottom:0;
        background: none;
        margin:0;
        cursor: pointer;
        min-height: 20px;

        img {
          height:38px;
          margin: 25px 10px 0px 0px;
          float: left;
        }

        h3 {
          color: $black;
          padding-bottom: 0px;
          height:27px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 15px;

          .timeago {
            float:right;
            font-size:80%;
            opacity:.85;
          }

        }

        p {
          color: $black;
          overflow: hidden;
          margin: 0;
          font-size: 90%;
          line-height: 1.3em;
          font-weight: 200;
          max-height: 36px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .content:hover {
        p {
          text-decoration: underline;
        }
      }
    }
  }

  .twitter-sign-in {
    padding: 0 0 15px 68px;
    display: inline-block;

    img {
      height: inherit;
    }
  }
}


.activity-stream, .timeline-container, .my-badges, .directory, .lessons {
  .content {
    background: $white;
    color: $black;

    padding: 0 20px 15px;
    border-width: 2px;
    border-style: solid;
    border-radius: 0.5em;
    position: relative;
    border-color: $white;

    margin-right: 4%;
    margin-left: 8%;

    @media (max-width: 767px) {
      margin-right: 0%;
      margin-left: 0%;
    }

    h3 {
      padding: 18px 0 12px;
      color: #222;
      font-weight: 200;

      .subject-label {
        display: none;

        &.visible {
          display: inline;
        }
      }
    }
  }
}

.lessons {
  visibility: hidden;

  &.visible {
    visibility: visible;
  }

  ul li .content {
    span {
      width: 32px;
      margin: 15px 10px 0px 0;
      float: left;
      text-align: right;
    }

    p {
      margin: 15px 0 0px;
      padding-left: 6px;
    }
  }
}

.starscape {
  position: relative;
  height:580px;
  width: 100%;
  overflow: visible;

  div, h1 {
    height:580px;
    width: 100%;
    position: absolute;
    display: block;
  }

  .galaxy {background: image-url('home/galaxy.jpg');}
  .stars {background: image-url('home/stars.png');}
  .smallplanets {background: image-url('home/smallplanets.png');}
  .planet {background: image-url('home/planet.png'); height:584px;}

  .headline {
    font-family: logofont;
    font-weight: 100;
    line-height: 1.2em;

    display: inline-block;
    padding: 15px 0 0;
    position:absolute;
    text-align: center;
    color: $white;
    text-shadow: 0 0 0.2em #333;
    font-size: 450%;
    top:190px;
    left:0;

    @media (max-width: 992px) {
      font-size: 350%;
    }

    @media (max-width: 767px) {
      font-size: 320%;
    }

    @media (max-width: 650px) {
      font-size: 280%;
    }
  }

  .quest {
    background: image-url('home/quest.png');
    background-size: 160px;
    background-repeat: no-repeat;
    height:280px;
    width: 200px;
    top:310px;
    left:12%;
  }
}

.columns.home {
  background-color: #5e3847;
  position: relative;
  z-index: 10;

  ul.timeline {
    position: relative;
    top: -620px;
    padding-top: 615px;
  }

  .right-column {
    padding-top: 20px;
  }
}