%a.quick-stats
  %img{src: current_user.twi_profile_img_url, class: "rounded profile-img"}
  .quick-stat.answer-count{'title' => '426 questions answered', 'data-toggle' => 'popover', 'data-placement' => 'bottom', 'data-bind' => 'text: answer_count'}
  .circle
  .quick-stat.moderation-count{'title' => '43 answers moderated', 'data-toggle' => 'popover', 'data-placement' => 'bottom', 'data-bind' => 'text: moderation_count'}
  .circle
  .quick-stat.question-count{'title' => '12 questions authored', 'data-toggle' => 'popover', 'data-placement' => 'bottom', 'data-bind' => 'text: question_count'}