/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html {
  min-height:100%;
}


body {
  background-color: #323949 !important;
  padding:0 !important;
  min-height:100%;
}

.main-view {
  background: #C4E0EC url("/assets/bg_images/twi/tree.jpg") no-repeat;
  box-shadow: 20px 0px 50px #000;
  position: relative;
  z-index: 10;
  min-height: 100%;

  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.main-view > .container {
  margin:0 auto;
}

.pagination-wrapper {
  text-align: center;
  padding-top: 10px;
}

/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}

.search-query {
    position: relative;
    top: 5px;
    /*border-radius: 15px !important;
    background-color: #ffffff !important;
    border: 2px solid #cccccc !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;*/
}