#askers_table {
	.td_container {
		height: 100%; 
		width: 100%;
	}
}

#tutor {
	#wrapper {

		.call-to-action {
			margin: 0px 0px 20px 20px; 
			padding: 30px 0px 0px; 
			text-align: center;
		}

		.subheadline {
			color: rgb(115, 115, 115);
			padding: 20px 19px;
			margin: 0px;

			.highlight {
				font-weight: bold;
				color:#68aa22;
			}
		}

		.payment-container {
			text-align: center;
			padding: 30px 20px 20px 20px;

			@media (min-width: 1200px) {
				& {
					margin-left:30px;
				}
			}

			.pack-options {
				background-color: rgb(247, 247, 247); 
				border: 1px solid rgb(204, 204, 204); 
				border-radius: 5px;
				font-size: 13px; 
				position: relative;

				.pack-option {
					background-color: rgb(221, 238, 247); 
					border-color: rgb(63, 63, 63) rgb(63, 63, 63) rgb(204, 204, 204);
					border-width: 0px 0px 1px;
					font-size: 13px;
					min-height: 17px;
					padding: 10px 0px;
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;

					span {
						position: relative;
						/*float: left;*/
						display:inline-block;
						font-size: 13px;
						min-height: 17px;
						margin: 0 0 0 10px;
						padding: 0px;
						text-align: center;

						&.content {
							width:32%;
							font-size: 16px; 
							font-weight: bold; 
							text-align: left;

							label {
								text-align: left;
							}
						}

						&.cost {
							width:5%;
						}

						&.details {
							width:25%;
						}

						&.date {
							width:18%;
						}

						label {
							position: absolute;
							top:-32px;
							font-size: 10px;
							/*color:#777;*/
							text-align: center;
							width:100%;
						}
					}
				}
			}

			.guarantee {
				position: absolute;
				max-width: 140px;
				right:45px;
				margin-top:20px;
				display:none;

				/*and (max-width: 977px)*/
				@media (min-width: 768px) {
					& {
						display:block;
					}
				}
			}

			.payment-form-container {
				padding-top: 25px;

				.form-row {
					/*width:240px;*/
					margin: 0px auto;
					padding: 0px;
					width:274px;
					text-align: left;
				}

				.payment-errors {
					background-color: rgb(242, 222, 222); 
					border: 1px solid rgb(238, 211, 215); 
					border-bottom-left-radius: 4px; 
					border-bottom-right-radius: 4px; 
					border-top-left-radius: 4px; 
					border-top-right-radius: 4px; 
					color: rgb(185, 74, 72); 
					font-size: 13px; 
					height: 17px; 
					margin: 0px 0px 20px; 
					padding: 8px 1px 8px 14px; 
					width: 240px;
					display:none;
				}

				input {
					/*background-color: rgb(242, 222, 222); */
					border: 1px solid #aaa; 
					border-bottom-left-radius: 4px; 
					border-bottom-right-radius: 4px; 
					border-top-left-radius: 4px; 
					border-top-right-radius: 4px;
					font-size: 13px; 
					height: 17px;  
					margin: 0px 0px 10px; 
					/*outline: rgb(185, 74, 72) none 0px; */
					padding: 8px 1px 8px 14px; 
					/*text-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px; */
					width: 240px;

					&.card_cvv {
						width: 40px;
						margin:-2px 0 0 28px;
					}
				}

				.btn-container {
					/*text-align: center;*/
					margin:22px 62px;
				}
			}
		}
	}
}