.askers-index {
  margin: auto !important;
  float:none !important;

  .asker-row img {height:18px;}

  @media (min-width: 1200px) {
    .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
      width: 874px;
    }
  }
}