.drawer {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  height:100%;
  
  position:absolute;
  width:0;
  overflow-x: hidden;

  &.show {
    width:266px;
    z-index: 1;
    position:fixed;
  }

  ul {
    padding:15px 0;
    margin:0px;
    list-style-type: none;
    width:254px;
    
    li {
      width:100%;
      padding:0px;
      color: #ccc;
      font-size:1.3em;
      margin:0px 5px;
      border-bottom: 1px solid rgba(0,0,0, 0.15);

      a {
        display: block;
        color: #aaa;
        padding:18px 6px;
        cursor: pointer;
      }

      a:hover {
        text-decoration: none;
      }

      ul {
        padding:0px 0;
        width:240px;
        display:block;
        margin:0px !important;

        li {
          font-size:.8em;
          margin:0px 50px 0px 12px;

          &:last-child {
            border-bottom:none;
          }

          a {
            background:transparent;
            padding:12px 6px;
            color: #bbb;
          }
        }
      }
    }
  }
}