.experiments {

  h1 {
    margin:5px 0 30px;
  }

  #running, #concluded {
    margin-top:10px;
  }

  form {
    margin:0;

    input {
      border:none;
      background-color:inherit;
      color:inherit !important;
      text-decoration:inherit;
      padding:0;
      margin:0;
    }
  }

  .experiment-header {
    small {
      float:right;
      font-size:11px;
      color:#777;
      font-style:italic;
    }

    form {
      display:inline;
    }

    &:hover {
      cursor:pointer;
    }

    &.completed{
      .name {
        // font-style:italic;
        // color:#999; 
      }
    }

    &.active {
      //font-weight:bold;
      background-color:#eee;


      .quickview {
        //display:none;
        color:#eee;
      }
    }

    .inline-controls {
      padding-right:2px;
      float:right;
    }
  }

  .experiment-details {
    display:none;
    background-color:#eee;

    > td {
      padding:15px !important;
    }

    &.active {
      display:table-row;

      > td {
        border-top:none;
      }

      .table {
        background-color:#fff;
        tr {
          padding:none;
        }
      }
    }

    .better, .worse {
      font-size:11px;
      color:#999;
    }

    span.control {
      font-size:11px;
      color:#777;
      font-style:italic;
    }
  }


  .table-disable-hover.table tbody tr:hover td,
  .table-disable-hover.table tbody tr:hover th {
      background-color: inherit;
  }
}
