body {
	background-attachment:fixed;
}

.rounded {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
							
.bottom_border {
	border-bottom-style: dotted !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #ddd !important;
	-webkit-border-bottom-left-radius: 0px !important;
	-moz-border-bottom-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	-webkit-border-bottom-right-radius: 0px !important;
	-moz-border-bottom-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;														
}

#feed_container {
	float: none;
	margin: auto;
}

#wrapper {
	padding: 14px;
	margin-top: -18px;

	@media (min-width: 980px) {
		margin-top: -20px;
	}

	margin-bottom: -40px;
	padding-top: 14px;
	background: url(https://twimg0-a.akamaihd.net/a/1345161153/t1/img/wash-white-30.png);

	.border-color {
		border-color: rgba(0,0,0,.21);
	}

	p {
		margin: 0px;
	}

	#header {
		background: white;
		margin-bottom: 15px;
		margin-left: 0px;
		min-height: 148px;
		border-style: solid;
		border-width: 1px;

		#account_information {
			height: inherit;
			margin-left: 0px;

			.container {
				margin-left: 0px;
				width: inherit;

				.inner_container {
					padding: 10px;
				}
			}

			.account_image {
				img {
					height: 128px;
					position: absolute;
					float: left;
				}					
			}

			.account_text {
				margin: 0px 0px 0px 138px;

				.name-wrapper {
					clear:both;

					.name {
						float:left;
					}

					ul {
						float:left;
						margin: 9px 1px;

						li {
							list-style:none;

							a{
								text-decoration:none;
							}

							ul {
								li {
									a{
										line-height:18px;
										font-size:13px;
									}
								}
							}
						}
					}

					.clr {clear:both;}
				}

				.credit {
					margin-top:8px;
					font-style: italic;
					color: #777;
					line-height:22px;
					background-color:#eee;
					width:168px;
					padding-left:7px;
					border-radius: 5px;
					text-shadow: -1px -1px white;//, 1px 1px #999;
					border: 1px solid #ddd;

					a {
						text-shadow: none;
						cursor:pointer;
					}

					img {
						float:right;
						width:24px;
						position:relative;
						top:-1px;
						right:-1px;
						border-radius: 0 5px 5px 0;
					}
				}
			}	

			h3 {
				color: #777;
				font-weight: normal;
				margin-top: -5px;
			}

			p {
				font-style: italic;
				color: #777;
			}

			.post_disabled_explanation {
				display: inline;
				position: relative;
				top: 2px;				
				font-size: 10px;
			}					
		}

		#account_stats {
			margin-left: 0px;
			min-height: inherit;
			float: right;
			position: relative;

			.twitter-follow-button {
				position: absolute;
				right: 10px;
				top: 10px;
			}

			ul {
				list-style: none;
				width: 115px;
				position: absolute;
				right: 10px;
				top: 48px;
				margin: 0px;
				cursor: default;

				li {
					border-top: 1px solid #E8E8E8;
					padding: 5px;
					color: #999;
					float: right;

					b {
						font-size: 14px;
						color: #333;
					}
				}
			}
		}

		.post_question {
			margin-top: 4px;
		}
	}

	#feed {	
		margin-bottom: 30px;

		.header {
			background: #F5F5F5;
			padding: 10px;	
		}

		#left_column {
			
			@media (min-width: 1200px) {
				width: 285px;
				margin-left: 15px;
			}

			.header {
				-webkit-border-top-left-radius: 5px;
				-moz-border-top-left-radius: 5px;
				border-top-left-radius: 5px;					
				-webkit-border-top-right-radius: 5px;
				-moz-border-top-right-radius: 5px;
				border-top-right-radius: 5px;
			}

			#related, #scoreboard {
				background: white;
				border-style: solid;
				border-width: 1px;	
				position: relative;
				margin-bottom: 15px;

				a:hover {
					text-decoration: none;
				}

				ul {
					margin-bottom: 0px;

					li {
						padding: 10px;
						position: relative;
						cursor: pointer;	

						&.border_bottom {
							border-bottom-style: dotted;
							border-bottom-width: 1px;
							border-bottom-color: #ddd;
						}
															
						.content {
							margin-left: 58px;
							min-height: 49px;

							p {
								color: #777;
								white-space: nowrap; 
								overflow: hidden;
								text-overflow: ellipsis;
							}

							h5 {
								color: #333;
							}
							
							img {			
								position: absolute;
								top: 10px;
								left: 10px;
								height: 48px;
							}
						}					
					}
				}
			}

			#scoreboard {
				background: white;
				border-style: solid;
				border-width: 1px;
				background-color: rgba(250, 250, 250, .8);

				.header {
					background: none;
				}

				ul {
					li {
						border-bottom-style: dotted;
						border-bottom-width: 1px;
						border-bottom-color: #ddd;

						&:last-child {
							border:none !important;
						}

						.content {
							margin-left: 58px;
							min-height: 34px;

							.place{		
								position: absolute;
								top: 20px;
								/*margin-top: 4px;*/
								left: 12px;
								font-size: 12pt;
								width: 10px;
								color:grey;
							}

							img {
								top:14px;
								height: 28px;
								left: 31px;
							}
						}
					}
				}	
			}

			.header {
				border-bottom-style: solid;
				border-bottom-width: 1px;
				border-bottom-color: #ddd;				
			}					
		}

		#right_column {

			@media (max-width: 767px) {
				/*margin: -16px 5px;*/
				border-radius: 5px;

				.header {
					border-radius: 5px 5px 0 0;
				}
			}

			@media (min-width: 768px) and (max-width: 980px) {
				width: 454px !important;
				margin: -16px 0 0 26px;
			}

			@media (min-width: 980px) {
				width: 425px;
				margin: -16px 0 0 19px;
			}

			@media (min-width: 1200px) {
				width: 560px;
				margin-left: 35px;
				margin-right: 5px;
				margin-top: -16px;
			}
		}
	}
}

#posts, .modal_conversation_history, .recent_posts, .parent_post {
	.header {
		border-style: solid;
		border-width: 1px;

		.ugc {
			float:right;

			a {
				float:right;
				font-size: 12px;
				margin: 2px 1px 4px 4px;
				font-weight:normal;
			}
		}
	}

	.conversation {
		//min-height: 140px;
		background: white;
		border-right-style: solid;
		border-right-width: 1px;
		border-left-style: solid;
		border-left-width: 1px;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		/*padding-bottom: 10px;*/

		.loading {
			border-top: 1px dotted #ddd;	
			border-bottom: 1px dotted #ddd;	
			height: 37px;
			text-align: center;	
			padding-top: 20px;					
			background-color: whitesmoke;
/*			-webkit-border-bottom-left-radius: 5px;
			-moz-border-bottom-left-radius: 5px;
			border-bottom-left-radius: 5px;
			-webkit-border-bottom-right-radius: 5px;
			-moz-border-bottom-right-radius: 5px;
			border-bottom-right-radius: 5px;	*/
			margin-bottom: 10px;							
		}

		.quiz_container {
			border-bottom: 1px dotted #ddd;	
			height: 37px;
			text-align: center;	
			padding-top: 20px;					
			background-color: whitesmoke;
			margin-top: -10px !important;
			/*position: relative;	*/
			/*bottom: 10px;*/
			margin-bottom: 10px;	
		}

		.post {
			padding: 10px;
			position: relative;
			cursor: pointer;

			i, #activity_badge, #link_post {
				float: right;
			}

			i {
				margin-right: 4px;
				margin-top: -3px;
			}

			#time {
				float: right;
				margin-top: -4px;

				.time_ago {
					color: #999;
				}				
			}

			#classify {
				position: absolute;
				top: 5px;
				right: 10px;

				i {
					position: relative;
					top: 0px;
					right: 0px;
				}
			}

			.content {
				margin-left: 58px;
				min-height: 49px;

				.question_text {
					font-size: 14px;
				}

				i {
					display: inline;
					position: relative;
					top: 0px;
					right: 0px;
					float: none !important;
					margin-right: 0px !important;
				}

				h5 {
					display: inline;
				}
				
				.asker {
					position: absolute;
					top: 10px;
					left: 10px;
					height: 48px;
				}

				h1 {
					margin-top: 8px;
					font-size: 22px;
					line-height: 18px;
					font-weight: normal;	
					font-size: 13px;	
					margin-top: 0px;			
				}

				img {
					position: absolute;
					top: 10px;
					left: 10px;
				}

				.post_actions {
					font-size: 12px;
					position: relative;
					top: 2px;
										
					.expand {
						display: inline;
						color: #999;
					}

					.quiz {
						
						margin-left: 8px;
						
						&.rollover {
							visibility: hidden;
						}

						&.cta {
							visibility: visible;
						}						
					}

				}
			}	

			.answers {
				border-color: #ddd;
				border-width: 1px;
				border-style: solid;	
				margin-top: 10px;
				/*margin-left: 0px;*/
				width: inherit;
				margin-left: 56px;
				margin-bottom: 5px;

				.ui-widget-content{
					border-width: 0px !important;
				}

				.ui-accordion-header {
					margin-top: 0px;
					padding: 10px;
					padding-left: 14px;
					background: #fdfdfd;
					border-color: #ddd;
					border-width: 0px;
					color: #333;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
					z-index: 1;
					word-wrap: break-word;
				}

				.ui-accordion-header.ui-state-active {
					/*box-shadow: 0 2px 2px 0px #CCC;*/
					border-bottom-width: 0px !important;
					border-bottom-right-radius: 0px !important;
					border-bottom-left-radius: 0px !important;
				}

				.ui-accordion-header.active_next {
					/*box-shadow: 0 -2px 2px 0px #CCC;*/
					border-top-right-radius: 0px !important;
					border-top-left-radius: 0px !important;								
				}

				#question_container {
					height: 100px;
					color:#555;
					padding:4px;
				}	

				.answer_container {
					width: 100%;
					padding: 0px;
					margin: 0px;
					height: 140px;
					
					border-right: 0px solid #DDD !important;
					border-left: 0px solid #DDD !important;
					
					.shadow-top, .shadow-bottom {
						height: 4px;
						left: 0;
						position: absolute;
						width: 100%;
					}

					.shadow-top {
						-webkit-mask-image: -webkit-linear-gradient(left,transparent 0%,rgba(0,0,0,.8) 50%,transparent 100%),-webkit-linear-gradient(top,#000 1px,transparent 1px);
						background-color: transparent;
						background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, .2),transparent);
						background-image: -moz-linear-gradient(top,rgba(0, 0, 0, .2),transparent);
						background-image: -ms-linear-gradient(top,rgba(0, 0, 0, .2),transparent);
						background-image: -o-linear-gradient(top,rgba(0, 0, 0, .2),transparent);
						background-image: linear-gradient(top,rgba(0, 0, 0, .2),transparent);
						border-top: 1px solid rgba(0, 0, 0, .2);
						top: 0;
					}

					.shadow-bottom {
						-webkit-mask-image: -webkit-linear-gradient(left,transparent 0%,rgba(0,0,0,.8) 50%,transparent 100%),-webkit-linear-gradient(bottom,#000 1px,transparent 1px);
						background-color: transparent;
						background-image: -webkit-linear-gradient(bottom,rgba(0, 0, 0, .2),transparent);
						background-image: -moz-linear-gradient(bottom,rgba(0, 0, 0, .2),transparent);
						background-image: -ms-linear-gradient(bottom,rgba(0, 0, 0, .2),transparent);
						background-image: -o-linear-gradient(bottom,rgba(0, 0, 0, .2),transparent);
						background-image: linear-gradient(bottom,rgba(0, 0, 0, .2),transparent);
						border-bottom: 1px solid rgba(0, 0, 0, .2);
						bottom: 0;
						border-radius: 0 0 5px 5px;
					}

					.tweet {
						padding: 10px;
						background-color:white;
						height: 80px;
						cursor: text;

						* {
							border:none;
							box-shadow:none;
							padding:none;
							outline:none;
						}

						#answer {
							color: #777;
							word-wrap: break-word;
						}

						#account, #url {		
							color:#999;
						}								
					}

					.answer_controls {
						padding: 5px;
						height: 27px;
						cursor: default;
						background: #eeeeee;
						border-top-width: 1px;
						border-top-style: dotted;
						border-top-color: #F0F0F0;
						border-bottom-style: solid !important;
						border-bottom-width: 1px !important;
						border-bottom-color: #ddd !important;	

						.btn {
							float: right;
							color: white;
						}
					}			
				}
			}
		}
	}
	.conversation:hover {
		.quiz:hover {
			visibility: visible;
		}

		.expand:hover {
			visibility: visible;
		}		
	}

	.conversation {
		.parent.answered {
			border-bottom-width: 0px;
		}
	}

	.conversation.active {
		.parent.answered {
			border-bottom-width: 1px;
		}
	}

	.answered {
		margin-bottom: 0px !important;
		-webkit-border-bottom-right-radius: 0px !important;
		-moz-border-bottom-right-radius: 0px !important;
		border-bottom-right-radius: 0px !important;	
		-webkit-border-bottom-left-radius: 0px !important;
		-moz-border-bottom-left-radius: 0px !important;
		border-bottom-left-radius: 0px !important;						
		border-bottom-style: dotted;
		border-bottom-width: 1px;
		border-bottom-color: #ddd;						
	}

	.subsidiary {
		/*background: #FAFAFA;*/
		background: whitesmoke;
		margin-top: 0px !important;
		margin-bottom: 10px;
		-webkit-border-bottom-left-radius: 0px;
		-moz-border-bottom-left-radius: 0px;
		border-bottom-left-radius: 0px;					
		-webkit-border-bottom-right-radius: 0px;
		-moz-border-bottom-right-radius: 0px;
		border-bottom-right-radius: 0px;						
		-webkit-border-top-right-radius: 0px !important;
		-moz-border-top-right-radius: 0px !important;
		border-top-right-radius: 0px !important;	
		-webkit-border-top-left-radius: 0px !important;
		-moz-border-top-left-radius: 0px !important;
		border-top-left-radius: 0px !important;						
		border-top: 0px solid #ddd !important;
		border-bottom: 1px dotted #ddd !important;
	}

	.subsidiary.reply {

		.content {
			margin-left: 58px;
			min-height: 40px;
			
			.asker {
				position: absolute;
				top: 10px;
				left: 10px;
				height: 48px;
			}
		}					
	}

	#posts_more {
		cursor: default;
		border-style: solid;
		border-width: 1px;
		border-top-width: 0px;
		background: white;	
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-bottom-left-radius: 5px;
		border-bottom-left-radius: 5px;					
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-bottom-right-radius: 5px;
		border-bottom-right-radius: 5px;	
		padding: 10px;	
		text-align: center;

		a {
			cursor: pointer;
		}
	}				

	.active {
		margin: 10px 0px;
		-webkit-border-radius: 5px !important;
		-moz-border-radius: 5px !important;
		border-radius: 5px !important;	
		border-top-style: solid;
		border-top-width: 1px;
		border-bottom-style: solid;
		border-bottom-width: 1px;
	}

	.active_prev {
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-bottom-right-radius: 5px;
		border-bottom-right-radius: 5px;	
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-bottom-left-radius: 5px;
		border-bottom-left-radius: 5px;						
		border-bottom-style: solid;
		border-bottom-width: 1px;
	}
	
	.active_next {
		-webkit-border-top-right-radius: 5px;
		-moz-border-top-right-radius: 5px;
		border-top-right-radius: 5px;	
		-webkit-border-top-left-radius: 5px;
		-moz-border-top-left-radius: 5px;
		border-top-left-radius: 5px;						
		border-top-style: solid;
		border-top-width: 1px;
	}				
}	

.activity_container {
	margin-top: -4px;
	margin-left: 58px;

	.activity {
		padding-left: 10px;
		font-size: 8px;
		color: #999;
		position: relative;
		top: 3px;	
	}

	.interactions {
		/*background: #FAFAFA;*/
		/*margin-left: 10px;*/
		/*margin-left: 66px;*/
		margin-right: 0px;
		margin: 0px 10px;
		padding-top: 6px;


		/*background: whiteSmoke;*/
		/*border: dotted #ddd 1px;*/
		border-top: dotted #E5E5E5 1px;
		/*border-bottom: solid #ddd 1px;*/

		/*border-radius: 5px;*/
	/*	border-bottom-right-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 5px;
		border-top-left-radius: 5px;*/
		/*border-bottom: solid #ddd 1px;*/
		/*padding: 5px;*/
		/*padding-left: 57px;*/
		overflow: hidden;
		white-space: nowrap;
		height: 30px;

		img {
			height: 22px;
		}

		.fastest {
			width: 42px;
			display: inline-block;
			padding-right: 6px;
			padding-left: 2px;
			border-right: 1px dotted #ddd;
			padding-top: 5px;
			height: inherit;

			p {
				display: inline;
				color: #999;
				top: 2px;
				position: relative;
			}
		}

		.answerers {
			display: inline;
			padding-left: 5px;
			/*border-right: 1px dotted #ddd;*/
			padding-top: 5px;
			height: inherit;		
		}
	}		
}

.ui-dialog {
	padding: 0px !important;

	.ui-dialog-titlebar {
		border-bottom-right-radius: 0px;	
		-webkit-border-bottom-left-radius: 0px;
		-moz-border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;	
		-webkit-border-bottom-left-radius: 0px;
		-moz-border-bottom-left-radius: 0px;	
		border-bottom: 1px solid #ddd;	
	}
}

.ui-dialog-title {
  float:none !important;
  display: block;
  text-align: center;
}	

#respond_modal, #link_post_modal {
	padding-bottom: 0px;
	padding-top: 5px;

	.modal-body {

		.modal_conversation_history {
			.conversation {
				border: none;
				border-top: solid 1px #DDD;
			}	
		}	
		
		textarea {
			height: 80px;
			width: 505px;
			resize: none;
			margin-top: 10px
		}

		.actions {
			height: 43px;

			#tweet {
				position: absolute;
				right: 14px;
			}

			.btn-group {
				display: inline;
			}

			.character_count {
				position: absolute;
				right: 92px;
				top: 121px;
			}

			.response_message {
				display: inline;
				color: red;
				font-weight: bold;
			}
		}
	}
}

#link_post_modal {

	padding-top: 0px;

	.recent_posts {
		overflow-y: scroll;
		margin-top: 86px;	
			
		.conversation {
			background: #FAFAFA;
			border-right: 1px solid #ddd;
			border-left: 1px solid #ddd;
			border-top: 1px dotted #ddd;
			border-bottom: 0px dotted #ddd;

			.radio {
				padding-right: 8px;
				padding-left: 25px;
				margin-bottom: 0px;
			}

			&.first {
				border-top: 0px;
			}

			.link_post {
				visibility: hidden;
			}
		}
	}

	.content p {
		margin: 0 0 0px;
	}

	input {
		top: 24px;
		position: relative;
		left: 5px;
	}

	.parent_post {
		position: absolute;
		height: 100px;
		width: 515px;
		border-bottom: 1px solid #ddd;
		z-index: 10;
		background: white;	
		margin-top: -15px;	
		/*width: 530px !important;*/

		.conversation {
			border: none;
			/*border-bottom: 1px solid #ddd;*/
		}

		.post {
			background: white;	
		}
	}	
}

#manager {
/*	.conversation {
		.link_post {
			visibility: hidden;
		}
		&:hover {
			.link_post {
				visibility: visible;
			}
		}
	}*/
}

			/*.content {
				
				min-height: 49px;

				i {
					display: inline;
					position: relative;
					top: 0px;
					right: 0px;
					float: none !important;
					margin-right: 0px !important;
				}

				h5 {
					display: inline;
				}
				
				.asker {
					position: absolute;
					top: 10px;
					left: 10px;
					height: 48px;
				}

				h1 {
					margin-top: 8px;
					font-size: 22px;
					line-height: 18px;
					font-weight: normal;	
					font-size: 13px;	
					margin-top: 0px;			
				}

				img {
					position: absolute;
					top: 10px;
					left: 10px;
				}*/

/*.post_actions {
	margin-left: 68px;
	margin-top: -3px;
	margin-bottom: 7px;	
	font-size: 12px;
	position: relative;
	top: 2px;
						
	.expand {
		display: inline;
		color: #999;
	}

	.quiz {
		visibility: hidden;
		margin-left: 10px;
	}
}*/