$bg: #339152;
$white: #eee9dc;
$dimwhite: #ccc;
$black: #333333;

$dimwhite: #D5D1C5;
$red: #f98262;
$inner_gutter: 50px;

$max_left_gutter: 10%;
$max979_left_gutter: 16%;
$max767_left_gutter: 0%;

$border_thick: 8px;
$border_medium: 4px;
$border_thin: 0px;

.header {
  text-align: center;
  opacity:.7;
  height:40px;
  position: relative;
  z-index: 10;

  @media (max-width: 650px) {
    text-align: inherit;
  }

  .drawer-toggle {
    padding: 10px;
    display: inline-block;
    float: left;
    cursor: pointer;

    img {
      height: 20px;
    }
  }

  .logo {
    display: inline-block;
    padding: 15px 0 0;
    position:absolute;
    
    @media (max-width: 650px) {
      position:inherit;
      float: left;
    }

    a {
      font-family: logofont;
      color: $white;
      text-decoration: none;
      font-size: 160%;
      font-weight: 100;
    }
  }

  a.quick-stats {
    transition: background 0.25s;
    min-height: 28px;
    float:right;
    color: $white;
    background: rgba(0,0,0,.06);

    display:inline-block;
    padding:6px;

    &:hover {
      text-decoration: none;
    }
    &.highlight {background:#FFFEB8;}

    .profile-img {
      height:30px;
      margin-top:-2px;
      margin-bottom:-2px;
    }

    .answer-count {
      font-weight: bold;
      opacity:0;
    }

    .quick-stat {
      display: inline-block;
      padding:2px 3px 0px;
      cursor: pointer;
      min-height: 10px;
      opacity: 0;

      position: relative;
      top: 4px;

      &.visible {
        opacity: 1;
        transition: opacity 1s;
      }
    }

    .circle {
      border-radius: 50%;
      width: 0px;
      height: 0px;
      display: inline-block;
      border:solid $dimwhite 3px;
      opacity:0;

      &.visible {
        opacity: 1;
        transition: opacity 1s;
      }
    }
  }

  .sign-in, .sign-out {
    display: inline-block;
    float: right;
    padding: 10px 12px;
    font-size: 90%;
    cursor: pointer;

    a {
      color: $white;
    }
  }
}