$bg: #339152;
$white: #eee9dc;
$dimwhite: #ccc;
$black: #333333;

$dimwhite: #D5D1C5;
$red: #f98262;
$inner_gutter: 50px;

$max_left_gutter: 10%;
$max979_left_gutter: 16%;
$max767_left_gutter: 0%;

$border_thick: 8px;
$border_medium: 4px;
$border_thin: 0px;

.header {
  text-align: center;
  opacity:.9;
  height:40px;
  position: relative;
  z-index: 20;

  @media (max-width: 650px) {
    text-align: inherit;
  }

  .drawer-toggle {
    padding: 9px;
    display: inline-block;
    float: left;
    cursor: pointer;

    img {
      height: 20px;
    }
  }

  .logo {
    display: inline-block;
    padding: 15px 0 0;
    position:absolute;

    @media (max-width: 650px) {
      position:inherit;
      float: left;
    }

    a {
      font-family: logofont;
      color: $white;
      text-decoration: none;
      font-size: 160%;
      font-weight: 100;
    }
  }

  .sign-in, .sign-out {
    display: inline-block;
    float: right;
    padding: 10px 12px;
    font-size: 90%;
    cursor: pointer;

    a {
      color: $white;
    }
  }
}
