// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post_question_modal {

	#question_input {
		resize: none;
		margin-left: 20px;
		width: 480px;		
		height: 65px;
	}

	#answers {
		margin-left: 20px;

		span {
			outline: none;
		}

		#question {
			display: none;
		}

		#account {
			color: #bbb;
			display:none;	
		}

		#link {
			color: #bbb;
			display:none;
		}

		> div {
			margin-top:5px;
			margin-bottom:15px;
		}

		.answer {
			clear:both;
		}
	}
	
	#add_answer {
		margin-left: 20px;
		cursor: pointer;
	}		

	#character_count {
		float:right;
		margin-top: 5px;
		margin-right: 5px;
	}

	hr {
		/*margin-top: 35px;*/
	}


/*	#answers, #question_container {
		margin-top: 15px;
	}*/

/*	.submit_container {
		float:right;
	}*/
}

/*	#question_container {
		margin-left: 20px;
		height:65px;
		background-color:white;
		border:#ccc solid 1px;
		border-radius:3px;
		color:#555;
		padding:4px;
		padding-right: 24px;
		box-shadow: rgba(0, 0, 0, 0.0742188) 0px 1px 1px 0px inset;

		* {
			border:none;
			box-shadow:none;
			padding:none;
			outline:none;
		}

		#link, #account {		
			color:#999;
		}
		
		#placeholder {
			display: inline;
		}
	}*/