// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
	margin: auto !important;

	.header {
		text-align: center;
		padding-top: 15px;
	}

	.auth_container {
		h3 {
			display: inline;
		}

		img {
			display: inline;
			cursor: pointer;
		}
	}

	.question_container {
		margin-top:0px;

		#character_count {
			float: right;
			padding-top: 5px;
			padding-right: 5px;
		}
	}

	.answers_container {
		margin-top:0px;

		.answer {
			display: block;
			margin: 5px;			
		}
	}

	.submit_container {
		.btn {
			float: right;
		}
	}

	div {
		/*padding-bottom: 45px !important;*/
	}
	/*width: 500px;*/
	/*margin: auto;*/

/*	#form_container {
		margin: auto;

		.header {
			color:black;	
			font-size: 32px;
		}		

		div {
			padding: 30px 15px 30px 15px;
		}

		.auth_container {
			border-bottom-style: dotted;
			border-bottom-width: 1px;
			border-bottom-color: #ccc;
		}

		.question_container {
			border-bottom-style: dotted;
			border-bottom-width: 1px;
			border-bottom-color: #ccc;

			.question {
			}
		}		

		.instruction {
			font-size: 24px;
			padding-bottom: 2px;
		}

		.explanation {
			color: gray;
		}
		.answers_container {
			.answer {
				display: block;
				margin: 5px;
			}
		}		
	}*/
}

/*

#form_container {
	width: 550px;
	margin: auto;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:0px 0px 8px 0px rgba(119, 119, 119, 0.97);
	-webkit-box-shadow:0px 0px 8px 0px rgba(119, 119, 119, 0.97);
	box-shadow:0px 0px 8px 0px rgba(119, 119, 119, 0.97);	

	.header {
		height: 50px;
		background: #ddd;
		font-size: 28px;
		line-height: 50px;
		padding-left: 15px;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: #ccc;		
	}

	#form_content {

		div {
			padding: 15px;
		}

		.auth_container {
			border-bottom-style: dotted;
			border-bottom-width: 1px;
			border-bottom-color: #ccc;
		}

		.question_container {
			border-bottom-style: dotted;
			border-bottom-width: 1px;
			border-bottom-color: #ccc;

		}
			
		.answers_container {
			.answer {
				display: block;
				margin: 5px;
			}
		}
		
		.instruction {
			font-size: 24px;
		}

		.explanation {
			color: gray;
		}
	}

	.footer {
		height: 50px;
		background: #ddd;
	}
}*/