.sessions-new {
  .topfold {
    max-width: 400px;
    margin: auto;
    min-height:10px;
    position: inherit;

    .asker-photo {
      padding-top: 55px;
      margin-left: 15px;
      display:none;
    }

    .title {
      display:none;
    }
  }

  .login-container {
    margin: auto;
    padding:15px;
    padding-top: 75px;
    max-width: 400px;

    .login {
      background-color: #eee9dc;
      h3 {
        font-size: 18px;
        font-weight: 300;
        line-height: 27px;
        padding-bottom: 15px;
      }

      .divider {
        color: rgba(0,0,0,.7);
        font-weight:600;
        text-align: center;
        margin:0 0 20px;
      }

      .dash {
        width:20px;
        height:.2em;
        border-top:solid 1px;
        display:inline-block;
        border-color: rgba(0,0,0,.5);
        margin:0 2px;
      }

      ul li .login-btn {
        display: block;

        background: #d5d1c5;
        color: #333333;
        padding: 8px;
        margin: 10px;
        border-radius: 0.5em;
        font-weight: 300;
        font-size: 17px;
        border:none;
        box-shadow: none;
        display: block;

        &:hover {
          text-decoration: none;
          cursor: pointer;
          background: rgba(0, 0, 0, 0.2);
        }
      }

      ul li {
        input[type=email], input[type=password] {
          width: 90%;
          margin: 5px 3%;
          font-size: 17px;
          height:1.6em;
          line-height:1.6em;
          padding:4px 4px;
          font-weight: 300;
          color: rgb(51, 51, 51);
        }

        .login-btn.login-btn-email {
          .fa {
            position: relative;
            top:1px;
          }

          input {
            background-color: transparent;
            border:none;
            font-size: inherit;
            font-weight: inherit;
            padding:0;
            position: relative;
            top:-1px;
            color: rgb(51, 51, 51);
            outline: none;
          }
        }

        #error_explanation {
          h2 {
            display:none;
          }

          ul {
            padding: 0 8px 8px;

            li {
              height:inherit;
              opacity:1;
              padding: 4px;
              color:tomato;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

.phone-variant {
  .login {
    ul li .content h3 {
      height: 0;
      color: transparent;
    }
  }
}