.users {
  .badge-images {
    .badge-image-wrapper {
      .faded {
        opacity:0.28;
      }
    }
  }
}

#progress_report {
	font-family: Verdana;
	color: #1F1F1F;
	background:#fcfcfc;

/*	.progress_report_body {
		margin: 10px;
	}*/
	.hello, .asker_progress, .signature, .unsubscribe {
		margin: 10px;
	}

	.hello {
		margin-bottom: 15px;
		margin-left: 15px;
		margin-top: 25px;
	}

	.asker, .ugc {
		margin-bottom: 10px;
		
		p {
			display: inline;
			margin-left: 11px;
			position: absolute;
		}

		img {
			height: 32px;
			width: 32px;
			max-width: none;
		}

		.description {
			padding-left: 10px;
			font-size: 13px;
		}
	}

	.ugc {
		background: white;
		border: 1px solid #ddd;
		padding: 9px !important;
	}

	.unsubscribe {
		padding-bottom: 20px;
	}
}

#newsletter {
	font-family: Verdana;
	color: #1F1F1F;

	.hello, .josh, .jason, .growth, .signature {
		margin: 10px;

		.title {
			font-weight: bold;
		}
	}

	.well {
		// background: url('/assets/light_toast.png');
		background:#f9f9f9;
		box-shadow:none;
		color: black;
		position:relative;
		margin:20px 15px;

		.icon {
			width:50px;
			img {
				height:35px;
				width:35px;
			}
		}

		.description{
			font-size:13px !important;
		}
	}

	.hello {
		margin-bottom: 15px;
		margin-left: 15px;
		margin-top: 25px;
	}

	.signature {
		margin: 0px 15px;
		margin-top: 15px;

		.footer {
			padding-top: 10px;
		}
	}

	.names {
		margin-left: 20px;
	}
}

.supporters {
	.form-actions {
		height:26px;

		input {
			width:135px;
		}
	}
}