.users {
  .badge-images {
    .badge-image-wrapper {
      .faded {
        opacity:0.28;
      }
    }
  }
}

#newsletter {
	font-family: Verdana;
	color: #1F1F1F;

	.hello, .josh, .jason, .growth, .signature {
		margin: 10px;

		.title {
			font-weight: bold;
		}
	}

	.well {
		// background: url('/assets/light_toast.png');
		background:#f9f9f9;
		box-shadow:none;
		color: black;
		position:relative;
		margin:20px 15px;

		.icon {
			width:50px;
			img {
				height:35px;
				width:35px;
			}
		}

		.description{
			font-size:13px !important;
		}
	}

	.hello {
		margin-bottom: 15px;
		margin-left: 15px;
		margin-top: 25px;
	}

	.signature {
		margin: 0px 15px;
		margin-top: 15px;
	}

	.names {
		margin-left: 20px;
	}
}