.header{style: header_styles}
  .drawer-toggle
    = image_tag 'icons/mobile-nav.png'

  - if current_user
    %a.sign-out{href: destroy_user_session_path, 'data-method' => :delete, rel: "nofollow"}
      =image_tag 'icons/logout.png'
    = render partial: 'header/quick_stats'

  - else
    .sign-in
      = link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter, :use_authorize => false), :class => (current_user ? "nav-link" : "auth_link nav-link")

  .logo Wisr