.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{:href => "/"} Wisr
      .in.collapse
        %ul.nav{:style => 'float:left;'}
          %li.menu-toggle
            =image_tag 'icons/mobile-nav.png'

        %ul.nav{:style => 'float:right;'}     
          - if current_user
            %li
              = hidden_field :current_user, :id
              = render partial: 'header/quick_stats'

            / - if current_user.is_role? 'admin'
            /   %li
            /     .dropdown.nav-link
            /       %a.nav-link{:href => "#", 'data-target' => "#"} Manage
            /       %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
            /         %li
            /           %a{:href => "/askers", :tabindex => "-1"} Status
            /         %li
            /           %a{:href => "/askers/edit_graph", :tabindex => "-1"} Asker Graph     
            /         %li
            /           %a{:href => "/moderations/manage?edits=true", :tabindex => "-1"} Questions

            /   %li
            /     .dropdown.nav-link
            /       %a.nav-link{:href => "#", 'data-target' => "#"} Stats
            /       %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
            /         %li
            /           %a{:href => "/dashboard", :tabindex => "-1"} Dashboard
            /         %li
            /           %a{:href => "/experiments", :tabindex => "-1"} A/B Tests

            / - elsif current_user.is_role? 'client'
            /   %li
            /     %a.nav-link{:href => "/clients/#{current_user.id}/report"} Reporting
            / - elsif current_user.is_role? 'author'
            /   %li
            /     %a.nav-link{:href => "/questions"} My Questions

            / - elsif current_user.is_role? "moderator"
            /   %li
            /     %a.nav-link{:href => "/moderations/manage"} Moderate

            %li
              %a.nav-link.logout{href: destroy_user_session_path, :method => :delete}
                =image_tag 'icons/logout.png'
          - else
            %li= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter, :use_authorize => false), :class => (current_user ? "nav-link" : "auth_link nav-link")
